[Unit]
Description=Packet Capture
After=network.service

[Service]
ExecStart=/etc/server-log.sh
Restart=always
Type=simple

[Install]
WantedBy=multi-user.target
Alias=server-log.service
